<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechSecure Solutions - Portail Interne</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo-area">
                <img src="{{ url_for('static', filename='IMAGE/logo.png') }}" alt="TechSecure Logo" class="logo-img">
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('accueil') }}">Accueil</a></li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
                <li><a href="{{ url_for('filiales') }}">Filiales</a></li>
                <li><a href="{{ url_for('apropos') }}">À propos</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 TechSecure Solutions - Site sécurisé avec Flask, MySQL et Docker</p>
    </footer>
</body>
</html>